<h1>Check if an address exists</h1>

<%= form_tag("#", method: "get", :'data-type' => 'json') do %>
  <%= label_tag(:address) %>
  <%= text_field(:address, :address) %>
  <br>
  <%= label_tag(:address_extended, "Address Line 2 (optional)") %>
  <%= text_field(:address, :address_extended) %>
  <br>
  <%= label_tag(:locality, "City") %>
  <%= text_field(:address, :locality) %>
  <br>
  <%= label_tag(:region, "State") %>
  <%= text_field(:address, :region) %>
  <br>
  <%= label_tag(:postcode, "Zipcode") %>
  <%= text_field(:address, :postcode) %>
  <br>
  <%= submit_tag("Check") %>
<% end %>

<br>
<%= @factual_id %>
