<h1>Check if an address exists</h1>

<%= form_tag("#", method: "get") do %>
  <%= label_tag(:address) %>
  <%= text_field_tag(:address) %>
  <br>
  <%= label_tag(:address_extended, "Address Line 2 (optional)") %>
  <%= text_field_tag(:address_extended) %>
  <br>
  <%= label_tag(:locality, "City") %>
  <%= text_field_tag(:locality) %>
  <br>
  <%= label_tag(:region, "State") %>
  <%= text_field_tag(:region) %>
  <br>
  <%= label_tag(:postcode, "Zipcode") %>
  <%= text_field_tag(:postcode) %>
  <br>
  <%= submit_tag("Lookup") %>
<% end %>
